:root {
    --bs-primary: #E03E36; /* Tu rojo */
    --bs-secondary: #508c67; /* Tu verde */
    --bs-body-bg: #303632;
    --bs-fond-c:#3a413c;
    --blanco:#ffffff;
}

body{
    background-color: var(--bs-body-bg);
    margin:0px;
}

.navbar-brand{
    -webkit-text-fill-color: var(--bs-primary);
}

.ofcanvas-title, .nav-item{
    -webkit-text-fill-color: #ffffff;
}