:root {
  /* Colores Principales (Verdes) */
  --verde-brillante: #36E077; /* Acentos y links activos */
  --verde-oscuro:    #508C67; /* Navbar fondo */

  /* Colores de Contraste (Rojos/Marrones) */
  --rojo-destacado:  #E03E36; /* Elemento activo (nav-link) */
  --marron-rojizo:   #a1534f; /* Hover y dropdowns */
  --marron-oscuro:   #614948; /* Scrollspy fondo */

  /* Colores Base */
  --casi-negro:      #303632; /* Texto y fondo general */
  --blanco-suave:    #F5F5F5; /* Útil para contraste sobre fondos oscuros */
  --fuente-principal: 'Bebas Neue', sans-serif;
  
   

}
@keyframes aparecerDesdeAbajo {
    0% {
        opacity: 0;
        transform: translateY(50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal{
    display: flex;
    min-height: 100vh
}

.izquierda{
    background-color: var(--marron-oscuro);
   
    background-size: 40px 40px; 
    width: 50%;
    animation: name duration timing-function delay iteration-count direction fill-mode;

}


.iz-logo{
    color: var(--verde-brillante);
    font-family: var(--fuente-principal);
    font-size: 3.5rem;
    margin-left: 1rem;
    margin-top: 30px;
}

.iz-logo span{
    color: var(--rojo-destacado);
}

.iz-centro h2{
    color: var(--blanco-suave);
    font-family: var(--fuente-principal);
    font-size: 15rem;
    margin-top: 5rem;
    margin-left: 1rem;
    line-height: 0.9;
    margin-bottom: 4rem;
}

.iz-centro span{
    color: var(--verde-brillante);
}

.iz-sub{
    color:var(--blanco-suave);
    font-family: var(--fuente-principal);
    font-size: 3rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.iz-stats{
   font-size: 2.5rem;
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: 10px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.stat-n{
    color: var(--verde-brillante);
}
.stat-l{
    color: var(--blanco-suave);
}

.stat-n, .stat-l{
    font-family: var(--fuente-principal);
    padding-left: 10px;
    margin-left: 10px;
    border-left: 3px solid var(--verde-brillante);  
    
}

.derecha{
        padding: 20px 20px;
        background-color: var(--casi-negro);
        width: 50%;
        
}  

.d-bien{
  
    color: var(--verde-brillante);
    font-size: 1.5rem;
    margin-left: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.d-question{
    color: var(--blanco-suave);
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-left: 2.5rem;
}

.href-Registro{
    color: var(--verde-brillante);
}

.d-info h1{
    color: var(--blanco-suave);
    margin-left: 20px;
    font-family: var(--fuente-principal);
    font-size: 5rem;
    padding: 20px;
}

.entrada{
    margin-left: 3rem;
    align-items: center;
    align-content: center;
}

.text-entrada{
    color: var(--blanco-suave);
    font-size: 1.5rem;
}

.entrada input{
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0%;
    outline: none;
    font-size: 20px;
    padding: 15px;
    color: var(--blanco-suave);
    width: 400px;
    transition: all 0.3s ease;
}

.entrada input:focus{
    border-color: var(--verde-brillante);
}




.btn-olvid{
    border: none;
    background: none;
    background-color: transparent;
    color:var(--blanco-suave);
    font-size: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.btn-olvid:hover{
    opacity: .85;
    color: var(--verde-brillante);
}


.btn-ingresar{
    width: 700px;
    padding: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: var(--verde-brillante);
}

.btn-ingresar:hover{
    opacity: .85;
    background-color: var(--verde-oscuro);
    transform: translateY(-2px);
}
