@import url(general.css);

.cartas{
    background-color: var(--bs-fond-c);
}

.red{
    background-color: var(--bs-primary);
}

.shadow-red {
    
    box-shadow: 0 0 25px 5px var(--bs-primary) !important;
}

.modal-content.shadow-red {
    border: 1px solid  var(--bs-primary) !important;
}