:root {
  /* Colores Principales (Verdes) */
  --verde-brillante: #36E077; /* Acentos y links activos */
  --verde-oscuro:    #508C67; /* Navbar fondo */

  /* Colores de Contraste (Rojos/Marrones) */
  --rojo-destacado:  #E03E36; /* Elemento activo (nav-link) */
  --marron-rojizo:   #a1534f; /* Hover y dropdowns */
  --marron-oscuro:   #614948; /* Scrollspy fondo */

  /* Colores Base */
  --casi-negro:      #303632; /* Texto y fondo general */
  --blanco-suave:    #F5F5F5; /* Útil para contraste sobre fondos oscuros */
  --fuente-principal: 'Bebas Neue', sans-serif;
  
   
}
body{
    background-color: var(--casi-negro);
}

.registro-container{
    max-width: 450px;
    padding: 40px;
    background-color: transparent;
    margin-left: 45rem;
}

.registro-tag {
    color: var(--verde-brillante);
    font-family: 'DM Mono', monospace;
    font-size: 0.7rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.registro-title {
    color: var(--blanco-suave);
    font-family: var(--fuente-principal);
    font-size: 3.5rem;
    line-height: 0.9;
    margin-bottom: 20px;
}

.registro-subtitle {
    color: rgba(245, 245, 245, 0.5);
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.registro-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registro-form input {
    width: 100%;
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--blanco-suave);
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.3s ease;
}

.registro-form input:focus {
    border-color: var(--verde-brillante);
    background-color: rgba(54, 224, 119, 0.02);
}

.btn-submit {
    margin-top: 10px;
    padding: 20px;
    background-color: var(--verde-brillante);
    color: var(--casi-negro);
    border: none;
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-submit:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.registro-footer {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 0.6rem;
    font-family: 'DM Mono', monospace;
    letter-spacing: 2px;
    text-align: center;
}